In [1]:
import pandas as pd
df = pd.read_csv('Data_Frame_29.csv')

In [2]:
df.head()

,Unnamed: 0,start_time,end_time,activity,real_start,real_end
0,11:31:50.260803,0 days 00:01:45.260803000,0 days 00:01:45.286400000,empty,0 days 11:31:50.260803000,0 days 11:31:50.286400000
1,11:31:50.260803,0 days 00:01:45.260803000,0 days 00:01:45.286400000,empty,0 days 11:31:50.260803000,0 days 11:31:50.286400000
2,11:33:35.252502,0 days 00:01:45.252502000,0 days 00:01:45.278099000,empty,0 days 11:33:35.252502000,0 days 11:33:35.278099000
3,11:35:20.237099,0 days 00:01:45.237099000,0 days 00:01:45.262703000,empty,0 days 11:35:20.237099000,0 days 11:35:20.262703000
4,11:37:06.277397,0 days 00:01:45.277397000,0 days 00:01:45.303001000,empty,0 days 11:37:06.277397000,0 days 11:37:06.303001000

In [3]:
df.rename(columns={'Unnamed: 0' :'time'}, inplace=True)

In [4]:
df['time'] = pd.to_timedelta(df['time'])

In [5]:
df['time'].dt.components

     days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0       0     11       31       50           260           803            0
1       0     11       31       50           260           803            0
2       0     11       33       35           252           502            0
3       0     11       35       20           237            99            0
4       0     11       37        6           277           397            0
..    ...    ...      ...      ...           ...           ...          ...
268     0     14       24       26           249           298            0
269     0     14       25       16           298           241            0
270     0     14       26       50           398           720            0
271     0     14       29       43           241           600            0
272     0     14       29       59           799            40            0

[273 rows x 7 columns]

In [6]:
df['time'] = df['time'] - pd.to_timedelta(df['time'].dt.days, unit='d')

In [7]:
df = df.sort_values('time')

In [8]:
df.tail()

,time,start_time,end_time,activity,real_start,real_end
268,14:24:26.249298,0 days 00:01:45.249298000,0 days 00:01:45.274902000,empty,0 days 14:24:26.249298000,0 days 14:24:26.274902000
269,14:25:16.298241,0 days 00:00:50.298241000,0 days 00:00:51.141762000,search,0 days 14:25:16.298241000,0 days 14:25:17.141762000
270,14:26:50.398720,0 days 00:00:38.398720000,0 days 00:00:39.819519000,search,0 days 14:26:50.398720000,0 days 14:26:51.819519000
271,14:29:43.241600,0 days 00:01:45.241600000,0 days 00:01:45.267197000,empty,0 days 14:29:43.241600000,0 days 14:29:43.267197000
272,14:29:59.799040,0 days 00:00:15.799040000,0 days 00:00:15.824640000,empty,0 days 14:29:59.799040000,0 days 14:29:59.824640000

In [0]:
df.to_csv('Data_Frame_29_fixed.csv')