In [0]:
import pandas as pd
df = pd.read_csv('Data_Frame_1.csv')

In [2]:
df.head()

,Unnamed: 0,start_time,end_time,activity,real_start,real_end
0,11:31:50.260803,0 days 00:01:45.260803000,0 days 00:01:45.286400000,empty,0 days 11:31:50.260803000,0 days 11:31:50.286400000
1,11:31:50.260803,0 days 00:01:45.260803000,0 days 00:01:45.286400000,empty,0 days 11:31:50.260803000,0 days 11:31:50.286400000
2,11:33:35.252502,0 days 00:01:45.252502000,0 days 00:01:45.278099000,empty,0 days 11:33:35.252502000,0 days 11:33:35.278099000
3,11:35:20.237099,0 days 00:01:45.237099000,0 days 00:01:45.262703000,empty,0 days 11:35:20.237099000,0 days 11:35:20.262703000
4,11:37:06.277397,0 days 00:01:45.277397000,0 days 00:01:45.303001000,empty,0 days 11:37:06.277397000,0 days 11:37:06.303001000

In [0]:
df.rename(columns={'Unnamed: 0' :'time'}, inplace=True)

In [0]:
df['time'] = pd.to_timedelta(df['time'])

In [0]:
df['time'].dt.components

In [0]:
df['time'] = df['time'] - pd.to_timedelta(df['time'].dt.days, unit='d')

In [0]:
df = df.sort_values('time')

In [0]:
df.tail()

In [0]:
df.to_csv('Data_Frame_1_fixed.csv')